!!!
%html
  %head
    %title Blog
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render "common/header"
    .body
      .content
        .container
          .wrapp_content.visible-lg.visible-md
            .row
              .col-xs-8
                - flash.each do |msg_type, msg|
                  .alert{:class=> "alert-#{msg_type}"}
                    = msg
                = yield
              .col-xs-4
                = render "common/sidebar_right"
    = render "common/footer"
