!!!
%html
  %head
    %title Blog
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render "common/header"
    .body
      .content
        .container
          .wrapp_content.visible-lg.visible-md
            .col-xs-9.content_container
              - flash.each do |msg_type, msg|
                .alert{:class=> "alert-#{msg_type}"}
                  = msg
              = yield
            .col-xs-3
              = render "common/sidebar_right"
    = render "common/footer"
